body {
  font-family: 'Raleway', sans-serif;
  background-image: url('https://media.giphy.com/media/mjORAqVKYtW7e/giphy.gif');
  background-repeat: repeat;
  color: white;
  font-size: 200%;
}

#stamp {
  width: 40%;
  height: auto;
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: right;
  float: right;
}

.postcard {
  width: 80%;
  max-width: 1000px;
  height: 550px;
  text-align: center;
  padding: 20px;
  margin: 30px;
  display: none;
  font-family: 'Rock Salt', cursive;
  color: #532219;
}

#back {
  background: linear-gradient(to top left, #FFFEE9 0%, #E8DACA 100%);
}

.col-md-4 {
  text-align: left;
  padding-top: 10%;
}

.miami {
  background-image: url("../img/miami.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.atlantic {
  background-image: url("../img/alantic.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.tokyo {
  background-image: url("../img/Tokyo.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.col-md-7 {
  padding-top: 20%;
}

form {
  height: 500px;
  padding: 75px;
  margin: auto;
  width: auto;
  text-align: center;
}

.radio {
  display: inline;
  padding: 20px;
}
